.icons-list {

    border-radius: 2px;

    rect {
        fill: #000C00;
    }

    &:hover {
        rect {
            fill: #68BF6B;
        }
    }

    &.icons-list--active {
        background-color: #3D5A66;

        rect {
            fill: #FFFFFF;
        }
    }
}
