.givewp-fields-date {
    .react-datepicker-wrapper {
        width: 100%;
    }

    .react-datepicker-popper[data-placement^=bottom] {
        .react-datepicker__triangle {
            left: 50% !important;
            transform: translate(-50%, 0) !important;
        }
    }

    .react-datepicker__day--selected {
        background-color: var(--givewp-primary-color) !important;
    }
}
