
.root-data-givewp-embed {

    .givewp-form-block__display-button {
        font-size: 1rem;
        color: #fff;
        background: #2271b1;
        padding: .5rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
}

#givewp-donation-form {
    padding: 0;
    margin: 0;
    border: 1px solid blue;
}
