.givewp-conditional-logic {
    &__open-popover-button {
        justify-content: center;
        width: 100%;
    }

    &__popover {
        &-box {
            background: var(--givewp-shades-white, #FFF);
            border-radius: 0.5rem;
            box-shadow: 0 0.25rem 0.5rem 0 #E6E6E6;
            margin: 0.5rem;
            width: 45rem;
        }

        &-header {
            align-items: center;
            border-bottom: 1px solid #DDD;
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.5rem;

            h1 {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.5rem;
                margin: 0;
            }

            .components-button.has-icon {
                height: 1.5rem;
                min-width: auto;
                padding: 0;
                width: 1.5rem;
            }
        }

        &-content {
            padding: 1rem 1.5rem 1.5rem;

            &__add-rule {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 0.125rem 0;

                p {
                    font-size: 0.8125rem;
                    line-height: 1.4;
                    margin: 0;
                }

                button {
                    color: var(--givewp-grey-500);

                    &.components-button.has-icon {
                        height: 1.25rem;
                        min-width: auto;
                        padding: 0;
                        width: 1.25rem;
                    }
                }
            }

            &__rules {
                display: grid;
                gap: 0.5rem;
                margin-top: 0.5rem;
            }

            &__rule {
                align-items: center;
                display: flex;
                gap: 0.5rem;

                .components-base-control__field {
                    margin: 0;

                    select.components-select-control__input,
                    input.components-text-control__input {
                        height: 2.25rem;
                        line-height: 1rem;
                        padding: {
                            left: 0.75rem;
                            right: 1.5rem;
                        }
                    }
                }

                button {
                    color: var(--givewp-grey-500);

                    &.components-button.has-icon {
                        height: 1.25rem;
                        min-width: auto;
                        padding: 0;
                        width: 1.25rem;
                    }
                }
            }

            &__no-rule {
                line-height: 1.25rem;
                margin: 0;
                padding: 0.5rem 0;
                text-align: center;

                button.components-button.is-link {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
