// WP Styles
@import '@wordpress/components/build-style/style.css';
@import '@wordpress/block-editor/build-style/style.css';

// Visual Donation Form Builder
@import 'sass/variables';
@import 'sass/fonts';


.interface-interface-skeleton {
    &__editor {
        background-color: $color-white;
    }

    &__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-bottom: 1px solid $color-border;
        background-color: $color-white;
        z-index: 30; // Below the components-popover, which is at index 31.
    }

    &__body {
        width: 100%;
    }

    &__content {
        width: 824px;
        margin: auto;
        padding: 80px 0; // Leave room for toolbar above first block.
        box-sizing: border-box;

        *, *:before, *:after {
            box-sizing: inherit;
        }
    }
}

[data-type="custom-block-editor/section"] > div > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/donor-info"] > div > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/donation-amount"] > div > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/payment-details"] > .block-editor-inner-blocks > .block-editor-block-list__layout,
[data-type="custom-block-editor/custom-fields"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 40px;
}

.block-editor-block-list__block .block-list-appender {
    position: unset !important;
}


input,
select {
    inline-size: 100%;
    padding: 1.1875rem;
    border: 0.078rem solid #666;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #828382;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

.components-toolbar__control.components-button {
    width: 100px;
}

.components-form-toggle.is-checked .components-form-toggle__track {
    background-color: #68BF6B;
}

// Fixes an issue with inspector select controls covering selected option.
.components-select-control {
    &__input {
        padding: 8px;
        font-weight: normal;
    }
}
