@import 'sass/bootstrap.scss';

body {
    margin: 0;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: $font-code;
}

svg {
    // Had a wierd issue with excessively large icon SVGs.
    max-height: 100%;
}
