// ---------------------------
// 🎨 Colors
// ---------------------------
$color-green-800: #3F7341;
$color-green-700: #5BA65E;
$color-green-600: #68BF6B;
$color-green-500: #AAF2AC;
$color-green-400: #C2F2C3;
$color-green-300: #E5FFE6;

$color-gray-800: #595959;
$color-gray-700: #8C8C8C;
$color-gray-600: #BFBFBF;
$color-gray-500: #D9D9D9;
$color-gray-400: #E6E6E6;
$color-gray-300: #F2F2F2;

$color-neutral-800: #0D161A;
$color-neutral-700: #233740;
$color-neutral-600: #3D5A66;
$color-neutral-500: #6B8B99;
$color-neutral-400: #8FA8B2;
$color-neutral-300: #B8C6CC;

$color-red-800: #DC1E1E;
$color-red-700: #DB5454;
$color-red-600: #E99090;
$color-red-500: #F5BEBE;
$color-red-400: #FFE5E5;

$color-white: #FFF;
$color-black: #000C00;

$color-border: #D9D9D9;
