@use 'variables';

:root,
[data-theme=light],
[data-theme=dark] {
  --font-size: 16px;
  --givewp-breakpoint-xs: variables.$givewp-breakpoint-xs;
  --givewp-breakpoint-sm: variables.$givewp-breakpoint-sm;
  --givewp-breakpoint-md: variables.$givewp-breakpoint-md;
  --givewp-breakpoint-lg: variables.$givewp-breakpoint-lg;
  --givewp-breakpoint-xl: variables.$givewp-breakpoint-xl;

  // map wp preset variables to givewp variables
  //--wp--preset--font-size--x-large: 1rem;

  // map pico variables to givewp variables
  --primary: var(--givewp-primary-color);
  --primary-hover: var(--givewp-primary-color);
  --primary-focus: var(--givewp-primary-color);

  --secondary: var(--givewp-secondary-color);
  --secondary-hover: var(--givewp-secondary-color);
  --secondary-focus: var(--givewp-secondary-color);
}

// remove the green checkbox in inputs
input[aria-invalid="false"] {
  background-image: none;
}