// Slide Animation Styles

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.slide-in-right,
.slide-in-left,
.slide-out-right,
.slide-out-left {
  position: absolute;
  width: 100%;
}

.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.slide-out-right {
  animation-name: slideOutRight;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.slide-out-left {
  animation-name: slideOutLeft;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}