@import '../../../sass/bootstrap';


.components-button.components-button-publish {
    color: $color-green-700;
    border: 1px solid $color-green-700;
    border-radius: 2px;

    &:hover,
    &.components-button-publish--busy {
        color: white;
        background-color: #5BA65E;
    }
}
